page {
	background-color: #eee;

}
.portrait-box {
	text-align: center;
}
.info-box {
	padding-top: 20upx;
	font-size: 34upx;
	line-height: 80upx;
	color: #fff;
	//text-align: center;
	font-weight: 600;
	float: left;
	text-align: left;
}
.phone {
	text-align: center;
	color: #000000;
	font-size: 14px;
}
.user-section {
	padding-top: calc(var(--status-bar-height));
	//padding-top: 0;
	height: 200upx;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
	background-position-y: -1px;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	flex-wrap:wrap;
	align-items:center;
	background-color: #04C1AB;
	width: 100%;
}
.icon_rc {
	position: absolute;
	top: 0upx;
	right: 20upx;
	font-size: 40upx;
	color: #fff;
	z-index: 99;
}
.hr {
	border-top: 1px solid #eee;
	margin-left: 33upx;
	margin-right: 33upx;

}
.cont_ch1 {
	width: 100%;
	background: #fff;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 19upx 0;
}
.cont_ch1 .item_list {
	// width: 185upx;
	width: 33.333333%;
	height: 164upx;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.orderRight {
	// width: 120upx;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
}
.orderImage {
	width: 56upx;
	height: 56upx;
	display: block;
	margin: auto;
}
.text1 {
	display: block;
	width: 100%;
	font-size: 35upx;
	padding-top: 12upx;
}
.service .title {
	font-size: 27upx;
	font-weight: 500;
	padding: 3upx 30upx;
	padding-top: 16upx;
}
.otherService {
	width: 100%;
	background: #fff;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 19upx 0;

}
.otherService .item_list {
	width: 25%;
	height: 164upx;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.add_sj {
	padding: 20upx 0;
	line-height: 88upx;
	border-radius: 10upx;
	background-color: #fff;
	box-shadow: 4upx 4upx 16upx #ddd;
	text-align: center;
	font-size: 26upx;
	margin: 20upx 30upx;
}
.onTop{
	margin-top: -44upx;
	position: relative;
	z-index: 99;
}
.money {
	padding: 0 30upx;
	margin-top: -44upx;
	position: relative;
	z-index: 99;
}
.money_cv {
	background-color: #fff;
	border-radius: 20upx;
	padding: 60upx 0;
}
.money_cv {
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.money_cv .col4 {
	width: 33.333333%;
	float: left;
	position: relative;
}
.money_cv .col4::after {
	display: block;
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 1px;
	height: 40upx;
	background-color: #F4F4F4;
}
.money_cv .col4:last-child::after {
	display: none;
}

.money_cv .col4 .number {
	font-size: 40upx;
	color: #101010;
	font-weight: 600;
}
.money_cv .col4 .name {
	font-size: 28upx;
	color: #101010;
}
.user_cvs {
	padding: 0 30upx;
	margin-bottom: 20upx;
}
.user_cont {
	background-color: #fff;
	border-radius: 20upx;
}
.user_cont .title {
	border-bottom: 1upx solid #F4F4F4;
	line-height: 96upx;
	padding: 0 20upx;
	font-size: 36upx;
	color: #000;
	font-weight: 600;
}
.user_row {
	padding-top: 40upx 0;
	display: flex;
}
.user_row .col3{
	width: 25%;
	height: 164upx;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: relative;
}
.userList .cell {
	display: flex;
	justify-content: center;
	align-items: center;
}
.cell_tt {
	flex: 1;
	text-align: left;
	line-height: 100upx;
	height: 100upx;
	font-size: 38upx;
	color: #535353;
	border-bottom: 1px solid #F4F4F4;
	position: relative;
	padding-right: 60upx;
}
.cell_tt image {
	position: absolute;
	width: 28upx;
	height: 40upx !important;
	top: 50%;
	right: 22upx;
	transform: translateY(-50%);
}
.userList .cell:last-child .cell_tt {
	border-bottom: none;
}
.icon_cv {
	width: 106upx;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100upx;
	vertical-align: middle;
	position: relative;
}
.icon_cv image {
	position: absolute;
	width: 60upx;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}



%flex-center {
	 display:flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
 }
%section {
	 display:flex;
	 justify-content: space-around;
	 align-content: center;
	 background: #fff;
	 border-radius: 10upx;
 }

.user-section{
	/* height: 520upx; */
	padding: 0upx 30upx 0;
	position:relative;
	.bg{
		position:absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		filter: blur(1px);
		opacity: .7;
	}
}
.user-info-box{
	display:block;
	position:relative;
	z-index: 1;
	margin-top: 1upx;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	margin-bottom: 75upx;

	.portrait{
		float: left;
		width: 130upx;
		height: 130upx;
		border:5upx solid #fff;
		border-radius: 50%;
		display: block;
		margin: auto;
	}
	.username{
		font-size: 32upx + 6upx;
		color: #fff;
		margin-left: 20upx;
	}
}

.vip-card-box{
	display:flex;
	flex-direction: column;
	color: #f7d680;
	height: 240upx;
	background: linear-gradient(to left, rgba(0,0,0,.7), rgba(0,0,0,.8));
	border-radius: 16upx 16upx 0 0;
	overflow: hidden;
	position: relative;
	padding: 20upx 24upx;
	.card-bg{
		position:absolute;
		top: 20upx;
		right: 0;
		width: 380upx;
		height: 260upx;
	}
	.b-btn{
		position: absolute;
		right: 20upx;
		top: 16upx;
		width: 132upx;
		height: 40upx;
		text-align: center;
		line-height: 40upx;
		font-size: 22upx;
		color: #36343c;
		border-radius: 20px;
		background: linear-gradient(to left, #f9e6af, #ffd465);
		z-index: 1;
	}
	.tit{
		font-size: $font-base+2upx;
		color: #f7d680;
		margin-bottom: 28upx;
		.yticon{
			color: #f6e5a3;
			margin-right: 16upx;
		}
	}
	.e-b{
		font-size: $font-sm;
		color: #d8cba9;
		margin-top: 10upx;
	}
}
.cover-container{
	background: $page-color-base;
	margin-top: -150upx;
	padding: 0 30upx;
	position:relative;
	background: #f5f5f5;
	padding-bottom: 20upx;
	.arc{
		position:absolute;
		left: 0;
		top: -34upx;
		width: 100%;
		height: 36upx;
	}
}
.tj-sction{
@extend %section;
	.tj-item{
	@extend %flex-center;
		flex-direction: column;
		height: 140upx;
		font-size: $font-sm;
		color: #75787d;
	}
	.num{
		font-size: 32upx;
		color: $font-color-dark;
		margin-bottom: 8upx;
	}
}
.order-section{
@extend %section;
	padding: 28upx 0;
	margin-top: 20upx;
	.order-item{
	@extend %flex-center;
		width: 120upx;
		height: 120upx;
		border-radius: 10upx;
		font-size: $font-sm;
		color: $font-color-dark;
	}
	.yticon{
		font-size: 48upx;
		margin-bottom: 18upx;
		color: #fa436a;
	}
	.icon-shouhoutuikuan{
		font-size:44upx;
	}
}
.history-section{
	padding: 30upx 0 0;
	margin-top: 20upx;
	background: #fff;
	border-radius:10upx;
	.sec-header{
		display:flex;
		align-items: center;
		font-size: $font-base;
		color: $font-color-dark;
		line-height: 40upx;
		margin-left: 30upx;
		.yticon{
			font-size: 44upx;
			color: #5eba8f;
			margin-right: 16upx;
			line-height: 40upx;
		}
	}
	.h-list{
		white-space: nowrap;
		padding: 30upx 30upx 0;
		image{
			display:inline-block;
			width: 160upx;
			height: 160upx;
			margin-right: 20upx;
			border-radius: 10upx;
		}
	}
}
.bottom {
	margin: 5px 0;
	width: 100%;
	text-align: center;
	bottom: 0;
	font-size: 23upx;
	color: #AFAFAF;
}
/*.bottom .text{*/
/*	color: #333333;*/
/*}*/
.bottom .text2{
	margin: 3px 0;
}


.cart-n {
	color: #fff;
	font-style: normal;
	background: red;
	font-size: 24upx;
	display: inline-block;
	line-height: 36upx;
	padding: 0 10upx;
	//max-width: 60upx;
	//width: 36upx;
	height: 36upx;
	border-radius: 50%;
	position: absolute;
	right: 28upx;
	top: 12upx;
	text-align: center;
}
.cart-n2 {
	position: absolute;
	top: 20rpx;
	right: 30rpx;
	z-index: 5;
	display: block;
	width: 32rpx;
	font-size: 18rpx;
	line-height: 32rpx;
	border-radius: 50%;
	text-align: center;
	background-color: #ff3c00;
	color: #fff;
}
